*~ 
build/
*.tmp
*.hex
toolchain/
*.o
*.orig
*.kate-swp
*.kdev4
*.old

.sass-cache
.piolibdeps
.pioenvs
rel/
src/HUGnetNGLibVer.h

*-Results.xml
*.gcda
*.gcno
run_test

**/test/code

*.map

*.elf
*.bin
